{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AutoTrading</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static "img/icon.png" %}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" %}' rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/remixicon/remixicon.css" %}' rel="stylesheet">
  <link href='{% static "vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "css/style.css" %}' rel="stylesheet">

</head>
{% if error %}
    <script>
        let a = "{{error}}";
        alert(a);
    </script>
{% endif %}

<style>
    .signup_form{
        min-width: 220px;
        margin: 0 15px;
        box-sizing: border-box;
    }
    .form-group{
        color :#1c9717;
        width : 400px;
        font-size: medium;
        margin-left: auto;
        margin-right: auto;
    }
</style>


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{% url 'Home:main' %}"><span>AutoTrading</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'CoinTrading:situation' %}">현황보기</a></li>
          <li><a class="nav-link scrollto" href="{% url 'Sentiment:sentiment_result' %}">감성분석</a></li>
          <li><a class="nav-link scrollto" href="{% url 'prediction:prediction_result' %}">시계열분석</a></li>
          <li><a class="nav-link scrollto" href="{% url 'CoinTrading:result' %}">성능보기</a></li>
          <li><a class="nav-link scrollto" href="{% url 'CoinTrading:buy_sell' %}">매매기록</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
          <p>Singup Page</p>
      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <form name = "signup_form" style = "display: block;" action="{% url 'Account:Signup' %}" method = "POST" >
            {% csrf_token %}
            <div class="form-group">
                <label for="name">nickname</label>
                <input class="form-control" type = "text" name = "username" >
                <small id="nicknamewordHelpInline" class="text-muted">
                    중복된 nickname은 안 됩니다.
                </small>
            </div>
            <br>
            <div class="form-group">
                <label for="email">ID[email]</label>
                <input class="form-control" type = "text" name = "email"  >
                <small id="emailwordHelpInline" class="text-muted">
                    중복된 이메일은 안 됩니다.
                </small>
            </div>
            <br>
            <div class="form-group">
                <label for="PW">PW</label>
                <input class="form-control" type = "password" name = "pw"  >
                <small id="passwordHelpInline" class="text-muted">
                    Must be 6-10 characters long.(6-10자만 유효합니다.)
                </small>
            </div>
            <br>
            <div class="form-group">
                <label for="PW2">PW check</label>
                <input class="form-control" type = "password" name = "pw2" >
                <small id="passwordHelpInline" class="text-muted">
                    pw와 일치해야합니다.
                </small>
            </div>
            <br>
            <div class = "text-center"><input class="btn btn-outline-success" type = "submit" value ="signup"></div>
        </form>
    
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

            <div class="footer-info">
              <h3>Coin AutoTrading</h3>
              <p class="pb-3"><em>인공지능을 사용한 코인 자동트레이딩 사이트</em></p>
              <p>
                <strong>Code  </strong><a href="https://github.com/sujin-create/hodlhodl"> 프로젝트 링크</a>
                <br><br>
                <strong>Team  </strong>동국대학교 정보통신공학과 holdhodl 팀 <br>
              </p>
            </div>

        </div>
      </div>
    </div>

 
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="p%}' reloader"></div>

  <!-- Vendor JS Files -->
  <script src='{% static "vendor/purecounter/purecounter_vanilla.js" %}' ></script>
  <script src='{% static "vendor/aos/aos.js"%}' ></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}' ></script>
  <script src='{% static "vendor/glightbox/js/glightbox.min.js"%}' ></script>
  <script src='{% static "vendor/swiper/swiper-bundle.min.js"%}' ></script>
  <script src='{% static "vendor/php-email-form/validate.js"%}' ></script>

  <!-- Template Main JS File -->
  <script src='{% static "js/main.js"%}' ></script>

</body>

</html>