{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AutoTrading</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static "img/icon.png" %}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" %}' rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/remixicon/remixicon.css" %}' rel="stylesheet">
  <link href='{% static "vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "css/style.css" %}'  rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href=" "><span>AutoTrading</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src='{% static "img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="">홈페이지</a></li>
          <li><a class="nav-link scrollto" href="#about">소개</a></li>
          <li><a class="nav-link scrollto" href="#features">기능보기</a></li>
          <li><a class="nav-link scrollto" href="#details">기능상세보기</a></li>
          <li><a class="nav-link scrollto" href="{% url 'Home:detail' %}">자동투자</a></li>
          <li><a class="nav-link scrollto" href="{% url 'Home:detail' %}">데이터보기</a></li>
          <li><a class="nav-link scrollto" href="{% url 'Home:detail' %}">성능보기</a></li>
          <li class="dropdown"><a href="#"><span>로그인/회원가입</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'Account:Signup' %}">회원가입</a></li>
              {% if request.session.email %}
              <li><a href="{% url 'Account:Logout' %}">로그아웃</a></li>
              {% else %}
              <li><a href="{% url 'Account:Login' %}">로그인</a></li>
              {% endif %}
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          {% if request.session.email %}
            <li><a style="color:black" class="navbar-text">{{request.session.username}}님</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1> Experience stable coin investment with <span>AutoTrading</span></h1>
            <h2> Our team consists of 4 people from the Department of Information and Communication Engineering, Dongguk University.</h2>
            <div class="text-center text-lg-start">
              <a href="detail" class="btn-get-started ">Get Started</a>
            </div>
            <div class="text-center text-lg-start">
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src='{% static "img/background.png"  %}' class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>


  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <!-- <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div> -->

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>코인 자동매매 프로그램을 경험하세요</h3>
            <p>  팀 hodlhodl은 AutoTrade 사이트를 통해 코인 자동매매 기능을 제공합니다. 코인에 대한 감정분석 결과와 종가 예측 결과 그리고 변동성 돌파전략을 종합하여 코인 최대낙폭을 줄여 안정적인 투자가 가능합니다.</p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="#details">변동성 돌파전략</a></h4>
              <p class="description">그 전날의 코인 데이터에 의해 결정된 target값을 이용하여 현재의 가격과 비교하며 매수를 결정</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="#details">감정분석 인공지능 모델</a></h4>
              <p class="description"> 감정분석 결과가 긍정적일때, 매수를 진행</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="#details">시계열 예측 인공지능 모델</a></h4>
              <p class="description">예측 결과 종가가 목표값보다 높을때, 매수를 진행</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= stack Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>기술스택</h2>
          <p>hodl hodl이 사용한 기술</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3>Django</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3>Mysql</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3>colab</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3>LSTM</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3>감정분석 인공지능 모델</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3>Python</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3>HTML/CSS</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3>Javascript</h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src='{% static "img/details-1.png"  %}' class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>변동성 돌파전략을 활용한 코인 자동트레이딩 기능</h3>
            <p class="fst-italic">
              오전 9시를 기준으로 종가와 시가를 계산할때, 그 전날의 코인 데이터에 의해 결정된 target값을 이용하여 현재의 가격과 비교하며 매수를 결정
            </p>
            <ul>
              <li><i class="bi bi-check"></i> 업비트 API를 활용해 코인관련 데이터를 불러옵니다.</li>
              <li><i class="bi bi-check"></i> 9시를 기준으로 시가와 종가를 계산하고 전날과 현시점을 분리합니다.</li>
              <li><i class="bi bi-check"></i> 전날의 코인데이터로 목표가를 설정하고 현재의 코인 가격을 비교합니다.</li>
              <li><i class="bi bi-check"></i> 시계열 예측 결과와 코인에 대한 감정분석을 추가적으로 이용해 매수 결정을 내립니다.</li>
            </ul>
            <p>
              코인 시계열 예측 모델과 감정분석 모델 결과를 활용해, 변동성 돌파전략을 세워 매수타이밍을 체크하여 자동적으로 코인을 트레이딩 시킴으로써, 최대 낙폭을 줄여 안정적인 투자를 지속할 수 있습니다.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src='{% static "img/details-2.png" %}' class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>감정분석 인공지능 모델을 활용한 코인에 대한 사람들의 인식분석</h3>
            <p class="fst-italic">
              감정분석 결과가 긍정적일때, 매수를 진행
            </p>
            <p>
              크롤링을 하여 불러온 문장 데이터를 인공지능을 활용해서 감정분석을 하고, 긍정적인 결과가 나올때 주식을 매수할 확률이 높아집니다.
            </p>
            <p>
              인공지능 모델 설명(작성예정)
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src='{% static "img/details-3.png" %}' class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>LSTM을 활용한, 시계열 예측을 통한 코인 종가 예측</h3>
            <p>예측 결과 종가가 목표값보다 높을때, 매수를 진행</p>
            <p>
              API를 통해 불러온 코인 데이터를 활용하여 인공지능 모델에 입력하고 그 결과로 나온 종가 결과가 변동성 돌파전략을 통해 구한 목표값보다 클 때 매수합니다.
            </p>
            <p>
              인공지능 모델 설명(작성예정)
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Details Section -->


   
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>HodlHodl</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src='{% static "img/team/team-1.jpg" %}' class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>김윤지</h4>
                <span>감정분석 모델 개발</span>
                <div class="social">
                  <a href="https://github.com/wendyunji-dongguk"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/wendyunji/?hl=ko"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src='{% static "img/team/team-2.jpg" %}' class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>백수진</h4>
                <span>웹 개발</span>
                <div class="social">
                  <a href="https://github.com/sujin-create"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/baek_soojin_/?hl=ko"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src='{% static "img/team/team-3.jpg" %}' class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>윤수림</h4>
                <span>감정분석 모델 개발</span>
                <div class="social">
                  <a href="https://github.com/sooo19"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/forest._.yoon/?hl=ko"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src='{% static "img/team/team-4.jpg" %}' class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>이건우</h4>
                <span>시계열 예측 모델 개발</span>
                <div class="social">
                  <a href="https://github.com/ptah0414"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/gununoo_/?hl=ko"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

            <div class="footer-info">
              <h3>Coin AutoTrading</h3>
              <p class="pb-3"><em>인공지능을 사용한 코인 자동트레이딩 사이트</em></p>
              <p>
                <strong>Code  </strong><a href="https://github.com/sujin-create/hodlhodl"> 프로젝트 링크</a>
                <br><br>
                <strong>Team  </strong>동국대학교 정보통신공학과 holdhodl 팀 <br>
              </p>
            </div>

        </div>
      </div>
    </div>

 
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="p%}' reloader"></div>

  <!-- Vendor JS Files -->
  <script src='{% static "vendor/purecounter/purecounter_vanilla.js"%}' ></script>
  <script src='{% static "vendor/aos/aos.js"%}' ></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}' ></script>
  <script src='{% static "vendor/glightbox/js/glightbox.min.js"%}' ></script>
  <script src='{% static "vendor/swiper/swiper-bundle.min.js"%}' ></script>
  <script src='{% static "vendor/php-email-form/validate.js"%}' ></script>

  <!-- Template Main JS File -->
  <script src='{% static "js/main.js"%}' ></script>

</body>

</html>